#grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin-top: 30px;
    padding: 0 5%;
}
#grid-container img {
    width: 60%;
    width: 100%;
    transition: 0.3s;
}

#colection {
    margin-top: 30px;
    padding-left: 20px;
}
.blur {
    color: gray;
}


#grid-container img:hover {
    filter: brightness(1.25);
}